body {
margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.navbar {
  background: #ff5a1f;
  color: white;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  padding: 40px;
}